# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.dylib


# CMake build directories
build/
build-nb/
build-pip/
docs/_build/
docs/tutorials/notebooks/

# Python distribution artifacts
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz

# VS Code / IDEs
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Test / coverage
*.log
coverage/
*.cover
.cache/
pytest_cache/

# Backup files
*~
*.bak

# PyInstaller
*.spec

# test folder
test/
examples/ultranest_test/
examples/ultranest_testabs/
examples/ultranest_testabs2/
examples/ultranest_testabs_nobandlim/
